AI_API_KEY=your_ai_api_key_here
MODEL=llama-3.1-8b-instant
# MODEL=llama-3.3-70b-versatile
# MODEL=openai/gpt-oss-120b

MONGO_DB_USER=your_db_username
MONGO_DB_PWD=your_db_password
MONGO_DB_URI=mongodb+srv://your_db_username:your_db_password@your_cluster.mongodb.net/?appName=Cluster0
