@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #2d3250 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d3250;
  border-radius: 999px;
  transition: background-color 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4f6df5;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}